<!DOCTYPE html>
<html>
<head>
    <title>Symfony</title>
</head>
<body>
    <h1>Bonjour {{ name }}, bienvenue !</h1>

<ul>
    {% for index, day in days %}
        <li>{{ index }}: {{ day }}</li>
    {% endfor %}
</ul>

<p>{{ html }}</p>
<p>{{ html | replace ({ "n'est pas": "est" }) | raw }}</p>
<a href="{{ path('app_twig_test') }}">LIEN VERS LA PAGE TWIG TEST</a>
</body>
</html>
